.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

.sr-only-focusable:focus,
.sr-only-focusable:active {
  clip: auto !important;
  -webkit-clip-path: none !important;
  clip-path: none !important;
  height: auto !important;
  margin: auto !important;
  overflow: visible !important;
  width: auto !important;
  white-space: normal !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul {
  list-style: none;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.header {
  padding: 2rem;
  margin: 0 auto;
}
.header__nav {
  display: none;
}
@media (min-width: 768px) {
  .header__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.4rem;
    flex-direction: row;
  }
}
.header__nav-link {
  font-size: 1.4rem;
  color: hsl(257, 7%, 63%);
  display: block;
}
.header__nav-link-btn {
  cursor: pointer;
  border: none;
  font-size: 1.8rem;
  font-weight: 600;
  background-color: hsl(180, 66%, 49%);
  color: #fff;
  padding: 2rem 4rem 2rem 4rem;
  border-radius: 50px;
  font-size: 1.4rem;
  padding: 1.4rem 2rem 1.4rem 2rem;
}
.header__nav-btns {
  margin-left: auto;
  align-items: center;
  gap: 4rem;
  display: none;
}
@media (min-width: 768px) {
  .header__nav-btns {
    display: flex;
  }
}
.header__btn {
  border: none;
  font-size: 3.2rem;
  background-color: #fff;
  color: hsl(257, 7%, 63%);
}
@media (min-width: 768px) {
  .header__btn {
    display: none;
  }
}

.s-main {
  position: relative;
  padding-bottom: 18rem;
}
.s-main__img {
  position: absolute;
  width: 100%;
  transform: translateY(-50%);
}
.s-main__img-container {
  position: relative;
  width: 100%;
}
.s-main__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem;
  padding-bottom: 0;
}
@media (min-width: 768px) {
  .s-main__info {
    align-items: start;
    padding: 5rem 0 3rem 0;
  }
}
.s-main__info-heading {
  color: hsl(255, 11%, 22%);
  font-size: 3.6rem;
  font-weight: 700;
  letter-spacing: -0.5px;
  text-align: center;
}
@media (min-width: 768px) {
  .s-main__info-heading {
    font-size: 7.9rem;
    text-align: start;
    letter-spacing: -3px;
  }
}
.s-main__info-text {
  text-align: center;
  line-height: 1.8;
  color: hsl(257, 7%, 63%);
  font-size: 1.8rem;
  font-weight: 500;
}
@media (min-width: 768px) {
  .s-main__info-text {
    text-align: start;
    font-size: 2.3rem;
  }
}
.s-main__info-btn {
  cursor: pointer;
  border: none;
  font-size: 1.8rem;
  font-weight: 600;
  background-color: hsl(180, 66%, 49%);
  color: #fff;
  padding: 2rem 4rem 2rem 4rem;
  border-radius: 50px;
}
.s-main__form {
  background-image: url(/images/bg-shorten-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: hsl(257, 27%, 26%);
  padding: 2.4rem;
  border-radius: 11px;
  font-size: 1.6rem;
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
}
@media (min-width: 768px) {
  .s-main__form {
    background-image: url(/images/bg-shorten-desktop.svg);
    max-width: 120rem;
    width: 100%;
    padding: 5rem 6rem 5rem 6rem;
  }
}
.s-main__form-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}
@media (min-width: 768px) {
  .s-main__form-box {
    flex-direction: row;
    gap: 2.6rem;
    align-items: stretch;
  }
}
.s-main__form-input {
  padding: 2rem;
  background-color: #fff;
  border-radius: 9px;
  border: none;
  color: hsl(0, 0%, 75%);
}
@media (min-width: 768px) {
  .s-main__form-input {
    width: 100%;
    max-width: 80rem;
    padding-inline: 3rem;
  }
}
.s-main__form-btn {
  cursor: pointer;
  border: none;
  border-radius: 9px;
  background-color: hsl(180, 66%, 49%);
  color: #fff;
  width: 100%;
  padding: 1.8rem;
}
@media (min-width: 768px) {
  .s-main__form-btn {
    max-width: 18rem;
  }
}

.s-stats {
  background-color: #f0f1f6;
  margin: 0 auto;
  padding-top: 18rem;
  padding-bottom: 8rem;
}
.s-stats__box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 9rem;
  position: relative;
}
@media (min-width: 768px) {
  .s-stats__box {
    flex-direction: row;
    gap: 3rem;
  }
}
.s-stats__box-line {
  height: 1rem;
  width: 5rem;
  background-color: hsl(180, 66%, 49%);
  position: absolute;
  transform: rotate(90deg);
  top: 29rem;
}
@media (min-width: 768px) {
  .s-stats__box-line {
    width: 3rem;
    transform: rotate(0);
  }
}
@media (min-width: 768px) {
  .s-stats__box-line {
    left: 35rem;
    top: 40%;
  }
}
.s-stats__box-line--right {
  height: 1rem;
  width: 5rem;
  background-color: hsl(180, 66%, 49%);
  position: absolute;
  transform: rotate(90deg);
  bottom: 33rem;
}
@media (min-width: 768px) {
  .s-stats__box-line--right {
    width: 3rem;
    transform: rotate(0);
  }
}
@media (min-width: 768px) {
  .s-stats__box-line--right {
    right: 35rem;
    bottom: 59%;
  }
}
.s-stats__info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3.2rem;
  position: relative;
}
.s-stats__info-img {
  z-index: 1;
  position: absolute;
}
.s-stats__info-background {
  width: 9rem;
  height: 9rem;
  background-color: hsl(257, 27%, 26%);
  top: 0;
  border-radius: 100%;
  transform: translateY(-50%);
  z-index: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.s-stats__info-heading {
  font-size: 2.2rem;
  color: hsl(255, 11%, 22%);
  letter-spacing: -0.5px;
}
.s-stats__info-heading-secondary {
  font-size: 2.2rem;
  color: hsl(255, 11%, 22%);
  letter-spacing: -0.5px;
}
@media (min-width: 768px) {
  .s-stats__info-heading-secondary {
    font-size: 3.4rem;
  }
}
.s-stats__info-text {
  text-align: center;
  line-height: 1.8;
  padding: 0 4rem 0 4rem;
  font-size: 1.6rem;
  color: hsl(257, 7%, 63%);
}
@media (min-width: 768px) {
  .s-stats__info-text {
    font-size: 1.8rem;
    text-align: start;
  }
}
.s-stats__info-text-secondary {
  text-align: center;
  line-height: 1.8;
  padding: 0 4rem 0 4rem;
  font-size: 1.6rem;
  color: hsl(257, 7%, 63%);
}
@media (min-width: 768px) {
  .s-stats__info-text-secondary {
    font-size: 2rem;
  }
}
.s-stats__info-text-box {
  padding: 0;
}
.s-stats__info-box {
  width: 32rem;
  background-color: #fff;
  padding: 2rem;
  padding-top: 8rem;
  border-radius: 9px;
}
@media (min-width: 768px) {
  .s-stats__info-box {
    width: 35rem;
    padding: 8rem 4rem 4rem 4rem;
    align-items: start;
  }
}

.s-cta {
  background-image: url(/images/bg-boost-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: hsl(257, 27%, 26%);
  padding: 10rem 3rem 9rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
@media (min-width: 768px) {
  .s-cta {
    background-image: url(/images/bg-boost-desktop.svg);
    gap: 2.8rem;
  }
}
.s-cta__heading {
  font-size: 2.6rem;
  color: #fff;
}
@media (min-width: 768px) {
  .s-cta__heading {
    font-size: 4.8rem;
  }
}
.s-cta__btn {
  cursor: pointer;
  border: none;
  font-size: 1.8rem;
  font-weight: 600;
  background-color: hsl(180, 66%, 49%);
  color: #fff;
  padding: 2rem 4rem 2rem 4rem;
  border-radius: 50px;
}

.s-footer {
  background-color: hsl(260, 8%, 14%);
  padding: 5rem 0 5rem 0;
}
.s-footer__heading {
  font-size: 3.6rem;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.25px;
}
@media (min-width: 768px) {
  .s-footer__heading {
    margin-right: auto;
  }
}
.s-footer__links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}
@media (min-width: 768px) {
  .s-footer__links {
    flex-direction: row;
    gap: 8rem;
    align-items: start;
  }
}
.s-footer__links-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}
@media (min-width: 768px) {
  .s-footer__links-box {
    align-items: start;
  }
}
.s-footer__links-box-heading {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 700;
}
.s-footer__links-box-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 768px) {
  .s-footer__links-box-list {
    align-items: start;
  }
}
.s-footer__links-box-list-link {
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: -0.5px;
  color: hsl(257, 7%, 63%);
}
.s-footer__links-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

@media (min-width: 768px) {
  .container {
    max-width: 120rem;
  }
}
.container__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container__header {
    justify-content: flex-start;
    padding: 5rem 0 5rem 0;
    gap: 4rem;
    max-width: 120rem;
  }
}
.container__s-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
@media (min-width: 768px) {
  .container__s-main {
    margin: 0 auto;
    flex-direction: row-reverse;
    max-width: 120rem;
  }
}
.container__s-stats {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 9rem;
  margin: 0 auto;
}
.container__s-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
@media (min-width: 768px) {
  .container__s-cta {
    gap: 2.8rem;
  }
}
.container__s-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
@media (min-width: 768px) {
  .container__s-footer {
    margin: 0 auto;
    flex-direction: row;
    align-items: flex-start;
  }
}

@media (min-width: 768px) {
  .margin-top {
    margin-top: 10rem;
  }
}

@media (min-width: 768px) {
  .margin-bottom {
    margin-bottom: 10rem;
  }
}

.right {
  right: 35rem;
}/*# sourceMappingURL=style.css.map */