.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

.sr-only-focusable:focus,
.sr-only-focusable:active {
  clip: auto !important;
  -webkit-clip-path: none !important;
  clip-path: none !important;
  height: auto !important;
  margin: auto !important;
  overflow: visible !important;
  width: auto !important;
  white-space: normal !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul {
  list-style: none;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

/* A elements that don't have a class get default styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}
.header__nav {
  display: none;
}
.header__btn {
  border: none;
  font-size: 3.2rem;
  background-color: #fff;
  color: hsl(257, 7%, 63%);
}

.s-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: relative;
  padding-bottom: 18rem;
}
.s-main__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem;
  padding-bottom: 0;
}
.s-main__info-heading {
  color: hsl(255, 11%, 22%);
  font-size: 3.6rem;
  font-weight: 700;
  letter-spacing: -0.5px;
  text-align: center;
}
.s-main__info-text {
  text-align: center;
  line-height: 1.8;
  color: hsl(257, 7%, 63%);
  font-size: 1.8rem;
  font-weight: 500;
}
.s-main__info-btn {
  border: none;
  font-size: 1.8rem;
  font-weight: 600;
  background-color: hsl(180, 66%, 49%);
  color: #fff;
  padding: 2rem 4rem 2rem 4rem;
  border-radius: 50px;
}
.s-main__form {
  background-image: url(/images/bg-shorten-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: hsl(257, 27%, 26%);
  padding: 2.4rem;
  border-radius: 11px;
  font-size: 1.6rem;
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
}
.s-main__form-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}
.s-main__form-input {
  padding: 2rem;
  background-color: #fff;
  border-radius: 9px;
  border: none;
  color: hsl(0, 0%, 75%);
}
.s-main__form-btn {
  cursor: pointer;
  border: none;
  border-radius: 9px;
  background-color: hsl(180, 66%, 49%);
  color: #fff;
  width: 100%;
  padding: 1.8rem;
}

.s-stats {
  background-color: #f0f1f6;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 9rem;
  margin: 0 auto;
  padding-top: 18rem;
  padding-bottom: 8rem;
}
.s-stats__info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3.2rem;
  position: relative;
}
.s-stats__info-img {
  z-index: 1;
  position: absolute;
  transform: translateY(-50%);
  top: 0;
}
.s-stats__info-background {
  width: 9rem;
  height: 9rem;
  background-color: hsl(257, 27%, 26%);
  top: 0;
  border-radius: 100%;
  transform: translateY(-50%);
  z-index: 0;
  position: absolute;
}
.s-stats__info-heading {
  font-size: 2.2rem;
  color: hsl(255, 11%, 22%);
  letter-spacing: -0.5px;
}
.s-stats__info-text {
  text-align: center;
  line-height: 1.8;
  padding: 0 4rem 0 4rem;
  font-size: 1.6rem;
  color: hsl(257, 7%, 63%);
}
.s-stats__info-text-box {
  padding: 0;
}
.s-stats__info-box {
  width: 32rem;
  background-color: #fff;
  padding: 2rem;
  padding-top: 8rem;
  border-radius: 9px;
}

.s-cta {
  background-image: url(/images/bg-boost-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: hsl(257, 27%, 26%);
  padding: 10rem 3rem 9rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.s-cta__heading {
  font-size: 2.6rem;
  color: #fff;
}
.s-cta__btn {
  border: none;
  font-size: 1.8rem;
  font-weight: 600;
  background-color: hsl(180, 66%, 49%);
  color: #fff;
  padding: 2rem 4rem 2rem 4rem;
  border-radius: 50px;
}

.s-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  background-color: hsl(260, 8%, 14%);
  padding: 5rem 0 5rem 0;
}
.s-footer__heading {
  font-size: 3.6rem;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.25px;
}
.s-footer__links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}
.s-footer__links-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}
.s-footer__links-box-heading {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 700;
}
.s-footer__links-box-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.s-footer__links-box-list-link {
  font-size: 1.8rem;
  font-weight: 400;
  letter-spacing: -0.5px;
  color: hsl(257, 7%, 63%);
}
.s-footer__links-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}/*# sourceMappingURL=style.css.map */