.s-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  position: relative;
  padding-bottom: 18rem;

  &__info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    padding: 3rem;
    padding-bottom: 0;

    &-heading {
      color: $neutral-very-dark-blue-100;
      font-size: 3.6rem;
      font-weight: 700;
      letter-spacing: -0.5px;
      text-align: center;
    }

    &-text {
      text-align: center;
      line-height: 1.8;
      color: $neutral-grayish-violet-800;
      font-size: 1.8rem;
      font-weight: 500;
    }

    &-btn {
      @include get-started--btn;
    }
  }

  &__form {
    background-image: url(/images/bg-shorten-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $primary-dark-violet-100;
    padding: 2.4rem;
    border-radius: 11px;
    font-size: 1.6rem;

    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    &-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.6rem;
    }
    &-input {
      padding: 2rem;
      background-color: #fff;
      border-radius: 9px;
      border: none;
      color: $neutral-gray-900;
    }
    &-btn {
      cursor: pointer;
      border: none;
      border-radius: 9px;
      background-color: $primary-cyan-900;
      color: #fff;
      width: 100%;
      padding: 1.8rem;
    }
  }
}
