.s-stats {
  background-color: $primary-white-900;

  margin: 0 auto;
  padding-top: 18rem;
  padding-bottom: 8rem;

  &__box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 9rem;

    @media (min-width: 768px) {
      flex-direction: row;
      gap: 3rem;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3.2rem;
    position: relative;

    &-img {
      z-index: 1;
      position: absolute;
    }

    &-background {
      width: 9rem;
      height: 9rem;
      background-color: $primary-dark-violet-100;
      top: 0;
      border-radius: 100%;
      transform: translateY(-50%);
      z-index: 0;
      position: absolute;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    &-heading {
      font-size: 2.2rem;
      color: $neutral-very-dark-blue-100;
      letter-spacing: -0.5px;

      &-secondary {
        font-size: 2.2rem;
        color: $neutral-very-dark-blue-100;
        letter-spacing: -0.5px;

        @media (min-width: 768px) {
          font-size: 3.4rem;
        }
      }
    }

    &-text {
      text-align: center;
      line-height: 1.8;
      padding: 0 4rem 0 4rem;
      font-size: 1.6rem;
      color: $neutral-grayish-violet-800;

      @media (min-width: 768px) {
        font-size: 1.8rem;
        text-align: start;
      }

      &-secondary {
        text-align: center;
        line-height: 1.8;
        padding: 0 4rem 0 4rem;
        font-size: 1.6rem;
        color: $neutral-grayish-violet-800;
        @media (min-width: 768px) {
          font-size: 2rem;
        }
      }
      &-box {
        padding: 0;
      }
    }

    &-box {
      width: 32rem;
      background-color: #fff;
      padding: 2rem;
      padding-top: 8rem;
      border-radius: 9px;

      @media (min-width: 768px) {
        padding: 8rem 4rem 4rem 4rem;
        align-items: start;
      }
    }
  }
}
